<div class="MainImg"><%= image_tag "main.png" %>
</div>

<h1 id="gametitle">VGFC - Worlds Collide</h1>
<p>It's not good enough just to be the greatest fighter in your world. It's time you proved yourself to be the greatest fighter across <strong>all</strong> worlds. Characters from various different universes have joined together to prove themselves to be the best. Who will come out on top?</p>

<h2 id="Char">Characters</h2>
<%= link_to image_tag("ryu.png", alt: "Ryu"), "fighters/ryu" %>
<%= link_to image_tag("kim.png", alt: "Kim"), "fighters/kim" %>
<%= image_tag("ken.png", alt: "Ken") %>
<%= image_tag("kyo.png", alt: "Kyo") %>
<%= image_tag("guile.png", alt: "Guile") %>
<%= image_tag("ryo.png", alt: "Ryo") %>
<%= image_tag("haggar.png", alt: "Haggar") %>
<%= image_tag("terry.png", alt: "Terry") %>
<%= image_tag("makoto.png", alt: "Makoto") %>
<%= image_tag("jin.png", alt: "Jin") %>
<%= image_tag("sakura.png", alt: "Sakura") %>
<%= image_tag("kazuya.png", alt: "Kazuya") %>
<%= image_tag("karin.png", alt: "Karin") %>
<%= image_tag("haohmaru.png", alt: "Haohmaru") %>
<%= image_tag("dan.png", alt: "Dan") %>
<%= image_tag("hibiki.png", alt: "Hibiki") %>
<%= image_tag("megaman.png", alt: "Megaman") %>
<%= image_tag("klonoa.png", alt: "Klonoa") %>
<%= image_tag("chun.png", alt: "Chun-li") %>
<%= image_tag("joe.png", alt: "Joe") %>
<%= image_tag("dudley.png", alt: "Dudley") %>
<%= image_tag("lucario.png", alt: "Lucario") %>
<%= image_tag("yang.png", alt: "Yang") %>
<%= image_tag("blaziken.png", alt: "Blaziken") %>
<%= image_tag("yun.png", alt: "Yun") %>
<%= image_tag("mario.png", alt: "Mario") %>
<%= image_tag("jill.png", alt: "Jill") %>
<%= image_tag("yoshi.png", alt: "Yoshi") %>
<%= image_tag("akuma.png", alt: "Akuma") %>
<%= image_tag("gengar.png", alt: "Gengar") %>
<%= image_tag("talbain.png", alt: "Talbain") %>
<%= image_tag("sonic.png", alt: "Sonic") %>
<%= image_tag("guy.png", alt: "Guy") %>
<%= image_tag("rock.png", alt: "Rock") %>
<%= image_tag("rolento.png", alt: "Rolento") %>
<%= image_tag("geese.png", alt: "Geese") %>
<%= image_tag("sagat.png", alt: "Sagat") %>
<%= image_tag("ryuji.png", alt: "Ryuji") %>
<%= image_tag("rose.png", alt: "Rose") %>
<%= image_tag("yuri.png", alt: "Yuri") %>
<%= image_tag("zangief.png", alt: "Zangief") %>
<%= image_tag("link.png", alt: "Link") %>
<%= image_tag("ibuki.png", alt: "Ibuki") %>
<%= image_tag("snake.png", alt: "Snake") %>
<%= image_tag("hawk.png", alt: "T. Hawk") %>
<%= image_tag("athena.png", alt: "Athena") %>
<%= image_tag("bison.png", alt: "Bison") %>
<%= image_tag("nakoruru.png", alt: "Nakoruru") %>
<%= image_tag("commando.png", alt: "Commando") %>
<%= image_tag("squall.png", alt: "Squall") %>
<%= image_tag("applejack.png", alt: "Applejack") %>
<%= image_tag("zero.png", alt: "Zero") %>
<%= image_tag("twilight.png", alt: "Twilight") %>
<%= image_tag("gouken.png", alt: "Gouken") %>
<%= image_tag("pinkie.png", alt: "Pinkie") %>
<%= image_tag("elena.png", alt: "Elena") %>
<%= image_tag("rarity.png", alt: "Rarity") %>
<%= image_tag("cammy.png", alt: "Cammy") %>
<%= image_tag("kula.png", alt: "Kula") %>
<%= image_tag("sonson.png", alt: "Sonson") %>
<%= image_tag("iori.png", alt: "Iori") %>
<%= image_tag("ingrid.png", alt: "Ingrid") %>
<%= image_tag("kyosuke.png", alt: "Kyosuke") %>
<%= image_tag("fluttershy.png", alt: "Fluttershy") %>
<%= image_tag("juri.png", alt: "Juri") %>
<%= image_tag("rainbow.png", alt: "Rainbow") %>
<%= image_tag("eryu.png", alt: "Evil Ryu") %>
<%= image_tag("king.png", alt: "King") %>
<%= image_tag("decapre.png", alt: "Decapre") %>
<%= image_tag("gardevoir.png", alt: "Gardevoir") %>
<%= image_tag("maki.png", alt: "Maki") %>
<%= image_tag("rugal.png", alt: "Rugal") %>
<%= image_tag("hugo.png", alt: "Hugo") %>
<%= image_tag("grugal.png", alt: "God Rugal") %>
<%= image_tag("vken.png", alt: "Violent Ken") %>
<%= image_tag("zargojack.png", alt: "Zargojack") %>
<%= image_tag("sakuma.png", alt: "Shin Akuma") %>
<%= image_tag("oiori.png", alt: "Orochi Iori") %>