<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/clhk1.png" %><br><%= image_tag "akuma/clhk2.png" %><br><%= image_tag "akuma/clhk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/chp1.png" %><br><%= image_tag "akuma/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zugaihasatsu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/flp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Fierce Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenmakujinkyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jdhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>GoHadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/qcfp1.png" %><br><%= image_tag "akuma/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shakunetsu Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/qcfp1.png" %><br><%= image_tag "akuma/hcbp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zanku Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jqcfp1.png" %><br><%= image_tag "akuma/jqcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>GoShoryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpp1.png" %><br><%= image_tag "akuma/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tatsumaki Zankukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/qcbk1.png" %><br><%= image_tag "akuma/qcbk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyakkishu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyakki Gozan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyakki Gosho</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpktop.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyakki Gojin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpktok.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Messatsu-Gohado</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/qcfp1.png" %><br><%= image_tag "akuma/qcfpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenma-Gozanku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/jqcfp1.png" %><br><%= image_tag "akuma/jqcfpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Messatsu-Goshoryu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpp1.png" %><br><%= image_tag "akuma/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Raging Demon</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/rd.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Misogi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "akuma/dpkk.png" %></th>
    <td></td>
  </tr>
</table>