<table class="CharMoves">
  <tr>
    <th>Close Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/cllp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stance Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/clhp1.png" %><br><%= image_tag "chun/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stance Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stance Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yosokyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/dhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ryuseiraku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/jthrow.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kobokushi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/bhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenkukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/bhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kakusenshu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kikoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/hcflp1.png" %><br><%= image_tag "chun/hcflp2.png" %><br><%= image_tag "chun/hcfhp1.png" %><br><%= image_tag "chun/hcfhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kyakuretsukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hazanshu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenshokyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Spinning Bird Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/rdpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kikosho</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/hcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senretsukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/qcfkk1.png" %><br><%= image_tag "chun/qcfkk2.png" %><br><%= image_tag "chun/qcfkk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shin Tenshokyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "chun/dpkk.png" %></th>
    <td></td>
  </tr>
</table>