<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/chp1.png" %><br><%= image_tag "dan/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Air Taunt</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/jtaunt.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Gadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dankukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/qcblk.png" %><br><%= image_tag "dan/qcbhk1.png" %><br><%= image_tag "dan/qcbhk2.png" %><br><%= image_tag "dan/qcbhk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Koryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/dpp1.png" %><br><%= image_tag "dan/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Haoh Gadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/qcfpp1.png" %><br><%= image_tag "dan/qcfpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hissho Buraiken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/dppp1.png" %><br><%= image_tag "dan/dppp2.png" %><br><%= image_tag "dan/dppp3.png" %><br><%= image_tag "dan/dppp4.png" %><br><%= image_tag "dan/dppp5.png" %><br><%= image_tag "dan/dppp6.png" %><br><%= image_tag "dan/dppp7.png" %><br><%= image_tag "dan/dppp8.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Legendary Taunt</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dan/qcbkk.png" %></th>
    <td></td>
  </tr>
</table>