<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/shk1.png" %><br><%= image_tag "dhalsim/shk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/chp1.png" %><br><%= image_tag "dhalsim/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/jlp1.png" %><br><%= image_tag "dhalsim/jlp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/jlk1.png" %><br><%= image_tag "dhalsim/jlk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/jhp1.png" %><br><%= image_tag "dhalsim/jhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/jhk1.png" %><br><%= image_tag "dhalsim/jhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zoom Strong</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/flp1.png" %><br><%= image_tag "dhalsim/flp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zoom Fierce</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/fhp1.png" %><br><%= image_tag "dhalsim/fhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zoom Short</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/flk1.png" %><br><%= image_tag "dhalsim/flk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zoom Roundhouse</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/fhk1.png" %><br><%= image_tag "dhalsim/fhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Razor Chop</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/blp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sky Chop</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/bhp1.png" %><br><%= image_tag "dhalsim/bhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Spear</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/adk1.png" %><br><%= image_tag "dhalsim/adk2.png" %><br><%= image_tag "dhalsim/adkk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Mummy</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/adhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Fire</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/qcfp.png" %><br><%= image_tag "dhalsim/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Flame</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Blast</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Teleport</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/dp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Inferno</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yoga Stream</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dhalsim/qcbpp.png" %></th>
    <td></td>
  </tr>
</table>