<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/chp1.png" %><br><%= image_tag "dudley/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stomach Blow</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/flp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kidney Blow</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Step Straight</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dart Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Machine-gun Blow</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcfp1.png" %><br><%= image_tag "dudley/hcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jet Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/dpp1.png" %><br><%= image_tag "dudley/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ducking</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ducking Straight</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcfkp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ducking Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcfkk1.png" %><br><%= image_tag "dudley/hcfkk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Short Swing Blow</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Corkscrew Cross</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/qcfpp.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Rocket Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/dppp1.png" %><br><%= image_tag "dudley/dppp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Rolling Thunder</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "dudley/hcbkk1.png" %><br><%= image_tag "dudley/hcbkk2.png" %><br><%= image_tag "dudley/hcbkk3.png" %></th>
    <td></td>
  </tr>
</table>