<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/shp1.png" %><br><%= image_tag "fluttershy/shp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/shp1.png" %><br><%= image_tag "fluttershy/shp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/chk1.png" %><br><%= image_tag "fluttershy/chk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/jhp1.png" %><br><%= image_tag "fluttershy/jhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/jhp1.png" %><br><%= image_tag "fluttershy/jhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hawk</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/qcflppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ferret</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/qcfhppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Porcupine</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/qcbppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Leave me Alone!!</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bear</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/qcbpppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stampede</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/qcfpppr1.png" %><br><%= image_tag "fluttershy/qcfpppr2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>The Stare</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "fluttershy/hcbkk.png" %></th>
    <td></td>
  </tr>
</table>