<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/clhp1.png" %><br><%= image_tag "gardevoir/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/jlp1.png" %><br><%= image_tag "gardevoir/jlp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Energy Ball</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/qcfp.png" %><br><%= image_tag "gardevoir/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Petal Dance</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Confusion</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/hcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Teleport</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/dpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyper Beam</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Wish</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "gardevoir/dppp.png" %></th>
    <td></td>
  </tr>
</table>