<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/clhp1.png" %><br><%= image_tag "guile/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/chp1.png" %><br><%= image_tag "guile/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Spinning Back Knuckle</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Knee Bazooka</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Reverse Spin Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sonic Boom</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/qcfp.png" %><br><%= image_tag "guile/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flash Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/dpk1.png" %><br><%= image_tag "guile/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Knuckle Sobat Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/qcbpp1.png" %><br><%= image_tag "guile/qcbpp2.png" %><br><%= image_tag "guile/qcbpp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sonic Hurricane</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flash Explosion</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guile/dpkk.png" %><br><%= image_tag "guile/dpk2.png" %><br><%= image_tag "guile/dpk1.png" %></th>
    <td></td>
  </tr>
</table>