<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/clp.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Elbow Drop</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jdhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Neck Breaker</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ninja Sickle</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/fhk1.png" %><br><%= image_tag "guy/fhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slide</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/dfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Gokusaken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/slp.png" %><br><%= image_tag "guy/shp.png" %><br><%= image_tag "guy/tc1.png" %><br><%= image_tag "guy/tc2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Target Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/shp.png" %><br><%= image_tag "guy/tc1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Izuna Otoshi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfp1.png" %><br><%= image_tag "guy/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kaiten Izuna Otoshi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/jqcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Run</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfk1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shadow Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Neck Flip</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hozanto</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Senpukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Hasoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfpp1.png" %><br><%= image_tag "guy/qcfpp2.png" %><br><%= image_tag "guy/qcfpp3.png" %><br><%= image_tag "guy/qcfpp4.png" %><br><%= image_tag "guy/qcfpp5.png" %><br><%= image_tag "guy/qcfpp6.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Muso Renge</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "guy/qcfpp7.png" %></th>
    <td></td>
  </tr>
</table>