<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/shk1.png" %><br><%= image_tag "haggar/shk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/chp1.png" %><br><%= image_tag "haggar/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Steel Pipe</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Double Lariat</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/qcfp1.png" %><br><%= image_tag "haggar/qcfp2.png" %><br><%= image_tag "haggar/qcfp3.png" %><br><%= image_tag "haggar/qcfp4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Violent Axe</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/dpp1.png" %><br><%= image_tag "haggar/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flying Piledriver</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/hcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hoodlum Launcher</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Giant Haggar Press</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/dppp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sky-High Backdrop</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Wild Swing</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haggar/hcbpp.png" %></th>
    <td></td>
  </tr>
</table>