<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/chp1.png" %><br><%= image_tag "haohmaru/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Great Slash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Oni Front Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senpuu Retsu Zan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kogetsu Zan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/dpp1.png" %><br><%= image_tag "haohmaru/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Reshhin Zan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hiougi TenHa FuJin Zan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/dppp1.png" %><br><%= image_tag "haohmaru/dppp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenha Denku Retsu Zan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "haohmaru/qcbpp.png" %></th>
    <td></td>
  </tr>
</table>