<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/jlk.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/jhk1.png" %><br><%= image_tag "hibiki/jhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Quick Draw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/flp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Foot Stab</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/dfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Target Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/tc.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Distance Slash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/qcflp.png" %><br><%= image_tag "hibiki/qcfhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Beckoning Slash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Piercing Moon Pounce</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Heavenly Spirit of Victory</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>No Fear Feint</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "hibiki/qcfpp.png" %></th>
    <td></td>
  </tr>
</table>