<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/clp.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/chp1.png" %><br><%= image_tag "jill/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slide</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/dfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Gunshot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Charging S.T.A.R.S</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Grenade Launcher</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/dpp1.png" %><br><%= image_tag "jill/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bird Summon</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcb.png" %><br><%= image_tag "jill/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dog Summon</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcb.png" %><br><%= image_tag "jill/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyper Charging S.T.A.R.S</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Missile Launcher</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/dppp1.png" %><br><%= image_tag "jill/dppp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>End of Tyrant</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jill/qcfpp.png" %></th>
    <td></td>
  </tr>
</table>