<p>Health: 1000 Stun: 1000</p>
<table class="FrameTable">
  <colgroup>
    <col class="firstcolumn" />
    <col class="Command" />
  </colgroup>
  <tr>
    <th>Move Name</th>
    <th>Command</th>
    <th>Move Type</th>
    <th>Damage</th>
    <th>Stun</th>
    <th>Meter Gain<br>(Whiff/Hit)</th>
    <th>Start-up</th>
    <th>Active</th>
    <th>Recovery</th>
    <th>Advantage<br>(On Hit)</th>
    <th>Advantage<br>(On Block)</th>
    <th>Juggle Potential</th>
    <th>Juggle Cost</th>
    <th>Hit Level</th>
    <th>Cancel Ability</th>
    <th>Move Properties</th>
    <th>Counter-hit Properties</th>
    <th>Other Notes</th>
  </tr>
  <tr>
    <td>Standing Light Punch</td>
    <td><%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>3</td>
    <td>8</td>
    <td>+6</td>
    <td>+2</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Close Light Kick</td>
    <td><%= image_tag "info/lk.png" %> (Close)</td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>5</td>
    <td>2</td>
    <td>9</td>
    <td>+6</td>
    <td>+2</td>
    <td>2</td>
    <td>1</td>
    <td>Low</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Standing Light Kick</td>
    <td><%= image_tag "info/lk.png" %></td>
    <td>Medium</td>
    <td>70</td>
    <td>100</td>
    <td>5/40</td>
    <td>7</td>
    <td>4</td>
    <td>15</td>
    <td>+2</td>
    <td>-2</td>
    <td>3</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Standing Heavy Punch</td>
    <td><%= image_tag "info/hp.png" %></td>
    <td>Medium</td>
    <td>60</td>
    <td>90</td>
    <td>5/40</td>
    <td>6</td>
    <td>2</td>
    <td>12</td>
    <td>+7</td>
    <td>+2</td>
    <td>3</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td>Causes a crumple if performed after an EX Power Stance boost.</td>
  </tr>
  <tr>
    <td>Standing Heavy Kick</td>
    <td><%= image_tag "info/hk.png" %></td>
    <td>Heavy</td>
    <td>90</td>
    <td>100</td>
    <td>5/30</td>
    <td>8</td>
    <td>2</td>
    <td>16</td>
    <td>+4</td>
    <td>-1</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>sp/su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td>Crushes airborne attacks frames 8-10</td>
  </tr>
  <tr>
    <td>Crouching Light Punch</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>3</td>
    <td>2</td>
    <td>7</td>
    <td>+8</td>
    <td>+4</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Light Kick</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>3</td>
    <td>8</td>
    <td>+6</td>
    <td>+2</td>
    <td>2</td>
    <td>1</td>
    <td>Low</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Heavy Punch</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/hp.png" %></td>
    <td>Heavy</td>
    <td>90</td>
    <td>100</td>
    <td>10/60</td>
    <td>5</td>
    <td>6</td>
    <td>21</td>
    <td>+2</td>
    <td>-4</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>sp/su</td>
    <td><%= image_tag "info/stagger.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Heavy Kick</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Heavy</td>
    <td>90</td>
    <td>100</td>
    <td>10/60</td>
    <td>7</td>
    <td>3</td>
    <td>19</td>
    <td>-</td>
    <td>-4</td>
    <td>4</td>
    <td>1</td>
    <td>Low</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Light Punch</td>
    <td><%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>40</td>
    <td>50</td>
    <td>0/20</td>
    <td>5</td>
    <td>6</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Light Kick</td>
    <td><%= image_tag "info/lk.png" %></td>
    <td>Light</td>
    <td>40</td>
    <td>50</td>
    <td>0/20</td>
    <td>6</td>
    <td>5</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Heavy Punch</td>
    <td><%= image_tag "info/hp.png" %></td>
    <td>Heavy</td>
    <td>100</td>
    <td>200</td>
    <td>10/60</td>
    <td>8</td>
    <td>6</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Heavy Kick</td>
    <td><%= image_tag "info/hk.png" %></td>
    <td>Heavy</td>
    <td>100</td>
    <td>200</td>
    <td>10/60</td>
    <td>8</td>
    <td>6</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Normal Throw</td>
    <td><%= image_tag "info/lp.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>-</td>
    <td>150</td>
    <td>150</td>
    <td>0/0</td>
    <td>3</td>
    <td>2</td>
    <td>21</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Throw</td>
    <td>-</td>
    <td><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Corpse Thrust</td>
    <td><%= image_tag "info/right.png" %> + <%= image_tag "info/hp.png" %></td>
    <td>Heavy</td>
    <td>150</td>
    <td>200</td>
    <td>10/60</td>
    <td>18</td>
    <td>4</td>
    <td>24</td>
    <td>-</td>
    <td>-12</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td><%= image_tag "info/wallbounce.png" %></td>
    <td></td>
  </tr>
  <tr>
    <td>Demon's Paw</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>120</td>
    <td>150</td>
    <td>15/0</td>
    <td>20</td>
    <td>4</td>
    <td>6</td>
    <td>-</td>
    <td>-11</td>
    <td>5</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td><%= image_tag "info/wallbounce.png" %></td>
    <td></td>
  </tr>
  <tr>
    <td>Savage Sword</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>30*30*60</td>
    <td>50*50*80</td>
    <td>15/20</td>
    <td>13</td>
    <td>2(10)2(30)2</td>
    <td>22</td>
    <td>-</td>
    <td>-7</td>
    <td>6</td>
    <td>0</td>
    <td>Mid</td>
    <td>su</td>
    <td><%= image_tag "info/capture.png" %><br><%= image_tag "info/crumple.png" %><br><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Right Roundhouse Punch</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>80</td>
    <td>100</td>
    <td>15/40</td>
    <td>8</td>
    <td>2</td>
    <td>23</td>
    <td>-</td>
    <td>-4</td>
    <td>5</td>
    <td>6</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td>Projectile invincible frames 1-14</td>
  </tr>
  <tr>
    <td>Spinning Flare Kick</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/kick.gif" %></td>
    <td>Special</td>
    <td>100</td>
    <td>120</td>
    <td>15/40</td>
    <td>20</td>
    <td>6</td>
    <td>27</td>
    <td>-</td>
    <td>-14</td>
    <td>5</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/groundbounce.png" %></td>
    <td></td>
    <td>Airborne frames 15-26</td>
  </tr>
  <tr>
    <td>Power Stance</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/kick.gif" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>5/-</td>
    <td>-</td>
    <td>-</td>
    <td>38</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>ch/sp/su</td>
    <td></td>
    <td></td>
    <td>Can cancel into any move except another Power Stance starting on frame 5.</td>
  </tr>
  <tr>
    <td>EX Power Stance</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/2k.gif" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>-400/-</td>
    <td>-</td>
    <td>-</td>
    <td>38</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>ch/sp/su</td>
    <td></td>
    <td></td>
    <td>Strike invincible frames 1-10. Can cancel into any move except another Power Stance starting on frame 13. Any attack performed after EX Power Stance gains counter-hit properties.</td>
  </tr>
  <tr>
    <td>Left Low Roundhouse Kick</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>Special</td>
    <td>50</td>
    <td>60</td>
    <td>15/40</td>
    <td>13</td>
    <td>2</td>
    <td>27</td>
    <td>-</td>
    <td>-11</td>
    <td>5</td>
    <td>1</td>
    <td>Low</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/kick.gif" %></td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Double Lift Kick</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Special</td>
    <td>50x2</td>
    <td>60x2</td>
    <td>15/30</td>
    <td>8</td>
    <td>2(10)2</td>
    <td>7 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>1</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td>Fully invincible frames 1-5, throw invincible frames 1-12, airborne frames 12~</td>
  </tr>
  <tr>
    <td>Evil Intent</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/2p.gif" %></td>
    <td>Super</td>
    <td>70x3</td>
    <td>0</td>
    <td>-400/0</td>
    <td>9</td>
    <td>4(20)4(16)4</td>
    <td>39</td>
    <td>-</td>
    <td>-23</td>
    <td>8</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>10 Hit Combo</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/2k.gif" %></td>
    <td>Super</td>
    <td>45x10</td>
    <td>0</td>
    <td>-800/0</td>
    <td>4</td>
    <td>3(9)3(9)3(9)<br>3(21)3(21)3<br>(6)3<br>(12)3(12)3<br>(12)3</td>
    <td>16 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>20</td>
    <td>0</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Avenger</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/2p.gif" %></td>
    <td>Ultra</td>
    <td>420</td>
    <td>500</td>
    <td>0/0</td>
    <td>20</td>
    <td>8</td>
    <td>30</td>
    <td>-</td>
    <td>-12</td>
    <td>12</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
</table>