<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/chp1.png" %><br><%= image_tag "jin/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Corpse Thrust</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Demon's Paw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Savage Sword</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcbp1.png" %><br><%= image_tag "jin/qcbp2.png" %><br><%= image_tag "jin/qcbp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Right Roundhouse Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/dpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Spinning Flare Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Power Stance</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Left Low Roundhouse Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/dplk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Double Lift Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/dphk1.png" %><br><%= image_tag "jin/dphk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Evil Intent</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcfpp1.png" %><br><%= image_tag "jin/qcfpp2.png" %><br><%= image_tag "jin/qcfpp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>10 Hit Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcfkk1.png" %><br><%= image_tag "jin/qcfkk2.png" %><br><%= image_tag "jin/qcfkk3.png" %><br><%= image_tag "jin/qcfkk4.png" %><br><%= image_tag "jin/qcfkk5.png" %><br><%= image_tag "jin/qcfkk6.png" %><br><%= image_tag "jin/qcfkk7.png" %><br><%= image_tag "jin/qcfkk8.png" %><br><%= image_tag "jin/qcfkk9.png" %><br><%= image_tag "jin/qcfkk10.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Avenger</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "jin/qcbpp.png" %></th>
    <td></td>
  </tr>
</table>