<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slide</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/dfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hurricane Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcflp1.png" %><br><%= image_tag "joe/qcflp2.png" %><br><%= image_tag "joe/qcfhp1.png" %><br><%= image_tag "joe/qcfhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bakuretsuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slash Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Golden Heel</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tiger Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Double Cyclone</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcfpp1.png" %><br><%= image_tag "joe/qcfpp2.png" %><br><%= image_tag "joe/qcfpp3.png" %><br><%= image_tag "joe/qcfpp4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Exploding Hurricane Tiger Heel</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcbpp1.png" %><br><%= image_tag "joe/qcbpp2.png" %><br><%= image_tag "joe/qcbpp3.png" %><br><%= image_tag "joe/qcbpp4.png" %><br><%= image_tag "joe/qcbpp5.png" %><br><%= image_tag "joe/qcbpp6.png" %><br><%= image_tag "joe/qcbpp7.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Screw Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "joe/qcfkk1.png" %><br><%= image_tag "joe/qcfkk2.png" %></th>
    <td></td>
  </tr>
</table>