<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/clhk1.png" %><br><%= image_tag "juri/clhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/shk1.png" %><br><%= image_tag "juri/shk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sekku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Fuhajin (Store)</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Fuhajin (Release)</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcflp.png" %><br><%= image_tag "juri/qcfhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senpusha</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcbk1.png" %><br><%= image_tag "juri/qcbk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shikusen</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/aqcbk1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Second Impact</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/aqcbk2.png" %><br><%= image_tag "juri/aqcbk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Third Strike</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/aqcbk4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kasatushi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcbp1.png" %><br><%= image_tag "juri/qcbp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Feng Shui Engine</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kaisen Dankairaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "juri/qcfkk1.png" %><br><%= image_tag "juri/qcfkk2.png" %></th>
    <td></td>
  </tr>
</table>