<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/chp1.png" %><br><%= image_tag "karin/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tsumuji-gari</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slide</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/dfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Guren Ken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcfp1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Guren Ken 2</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Guren Hou Shou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcfp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yasha Gaeshi (Gedan)</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcblk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Yasha Gaeshi (Joudan)</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcbhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Mujin Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/dpk1.png" %><br><%= image_tag "karin/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Arakuma Inashi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/hcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kanzuki-ryuu Shinpikaibyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/qcfpp1.png" %><br><%= image_tag "karin/qcfpp2.png" %><br><%= image_tag "karin/qcfpp3.png" %><br><%= image_tag "karin/qcfpp4.png" %><br><%= image_tag "karin/qcfpp5.png" %><br><%= image_tag "karin/qcfpp6.png" %><br><%= image_tag "karin/qcfpp7.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shin Arakuma Inashi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/hcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kanzuki-ryuu Kou-ou Ken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "karin/dpkk1.png" %><br><%= image_tag "karin/dpkk2.png" %><br><%= image_tag "karin/dpkk3.png" %><br><%= image_tag "karin/dpkk4.png" %><br><%= image_tag "karin/dpkk5.png" %><br><%= image_tag "karin/dpkk6.png" %><br><%= image_tag "karin/dpkk7.png" %></th>
    <td></td>
  </tr>
</table>