<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Left Splits Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Right Splits Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Left Right Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/tc1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Demon Slayer</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Twin Fang Stature Smash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/tc2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Twin Fang Double Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/tc3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Demon God Fist</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dragon Uppercut</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/dplp1.png" %><br><%= image_tag "kazuya/dplp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Electric Wind God Fist</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/dphp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Rising Sun</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/qcbk1.png" %><br><%= image_tag "kazuya/qcbk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>6 Hit Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/qcbkk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Devil Beam</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kazuya/qcfpp1.png" %><br><%= image_tag "kazuya/qcfpp2.png" %><br><%= image_tag "kazuya/qcfpp3.png" %></th>
    <td></td>
  </tr>
</table>