<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/chp1.png" %><br><%= image_tag "ken/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Step Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Thunder Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/qcfp.png" %><br><%= image_tag "ken/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flip Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/qcfk1.png" %><br><%= image_tag "ken/qcfk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tatsumaki Senpuukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shoryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/dpp1.png" %><br><%= image_tag "ken/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shoryureppa</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/qcfpp1.png" %><br><%= image_tag "ken/qcfpp2.png" %><br><%= image_tag "ken/qcfpp3.png" %><br><%= image_tag "ken/qcfpp4.png" %><br><%= image_tag "ken/qcfpp5.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shippu Jinraikyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/qcbkk1.png" %><br><%= image_tag "ken/qcbkk2.png" %><br><%= image_tag "ken/qcbkk3.png" %><br><%= image_tag "ken/qcbkk4.png" %><br><%= image_tag "ken/qcbkk5.png" %><br><%= image_tag "ken/qcbkk6.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shinryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ken/dppp.png" %></th>
    <td></td>
  </tr>
</table>