<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/slp.png" %></th>
    <td>A quick standing jab. Disjointed and decent speed, this makes for a great counter-poke against other standing attacks, and it has pretty good range. However, it misses on crouching opponents, and since Kim steps forward during the move, you're more vulnerable to being whiff punished.</td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/slk.png" %></th>
    <td>Similar application to Standing Light Punch in terms of poking. This one however has a bit more range and can hit crouching opponents, but it's not disjointed and more vulnerable to a whiff punish.</td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/shp.png" %></th>
    <td>More damage than his other standing pokes and can hit crouchers, but a bit slow and the hitbox isn't as good, and it has less range. You're at advantage on hit and block though, so it can set up frame traps or you can link into another attack afterwards.</td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/clhk1.png" %><br><%= image_tag "kim/clhk2.png" %></th>
    <td>An important move for Kim's most damaging meterless combos. You can combo into the heavy version of his Hangetsuzan with this. However, the second hit misses on crouch, so while the first hit does force stand, you'll need to make sure that the first hit actually connects. You can chain into this from his light or medium strength attacks so you can hit-confirm into it.</td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/shk.png" %></th>
    <td>A decent poke, but it misses on crouchers. It crushes airborne attacks while the hitbox is active so it's a good anti-air against far jump-ins.</td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/clp.png" %></th>
    <td>Kim's fastest normal. The hitbox is bad, but it can be rapid fired and is useful for setting up frame traps or tick throws.</td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/clk.png" %></th>
    <td>Not as fast as Crouching Light Punch, but it hits low and can also be rapid fired. Not a bad counter-poke against other low attacks either.</td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/chp.png" %></th>
    <td>Not a great poke and it misses on crouching opponents, but it works as an anti-air at ranges where standing heavy kick wouldn't work, such as against neutral jumps.</td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/chk.png" %></th>
    <td>A longer ranged low poke. Decent in neutral and lets you combo into light Hangetsuzan from range.</td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hishou Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/jdfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Roundhouse Low Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Foot Stomp</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/blk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Slide</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/dflk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Neri Chagi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hangetsuzan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/qcfp1.png" %><br><%= image_tag "kim/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hienzan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/hcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kusajin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/qcbk1.png" %><br><%= image_tag "kim/qcbk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sesenkyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/rdpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hou'ou Tenbu Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/qcbkk1.png" %><br><%= image_tag "kim/qcbkk2.png" %><br><%= image_tag "kim/qcbkk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hou'ou Hiten Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/hcfkk1.png" %><br><%= image_tag "kim/hcfkk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hou'ou Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kim/qcfpp.png" %></th>
    <td></td>
  </tr>
</table>