<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/cllk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/clhp1.png" %><br><%= image_tag "king/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/clhk1.png" %><br><%= image_tag "king/clhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/jhp1.png" %><br><%= image_tag "king/jhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stormbringer</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Venom Strike</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/qcflk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Double Strike</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/qcfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Mirage Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/qcfp1.png" %><br><%= image_tag "king/qcfp2.png" %><br><%= image_tag "king/qcfp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tornado Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/qcbk1.png" %><br><%= image_tag "king/qcbk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Surprise Rose</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Trap Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/rdpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Silent Flash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/dpkk1.png" %><br><%= image_tag "king/dpkk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Illusion Dance</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "king/rdpkk1.png" %><br><%= image_tag "king/rdpkk2.png" %></th>
    <td></td>
  </tr>
</table>