<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/jhk1.png" %><br><%= image_tag "klonoa/jhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ring Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/qcfp1.png" %><br><%= image_tag "klonoa/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Spin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/qcbp1.png" %><br><%= image_tag "klonoa/qcbp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Super Ring Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/qcfpp1.png" %><br><%= image_tag "klonoa/qcfpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Super Spin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Super Hammer</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "klonoa/dppp.png" %></th>
    <td></td>
  </tr>
</table>