<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/chp1.png" %><br><%= image_tag "kyo/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shoulder Check</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Axe Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/flk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crack Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shiki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/dfhk1.png" %><br><%= image_tag "kyo/dfhk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Aragami</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcflp1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kono Kizu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcflp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ya Sabi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcflp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Nanase</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcflp4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Migiriugachi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcflp5.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Douki Gami</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcfhp1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tsumi Yomi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcfhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Batsu Yomi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcfhp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Oniyaki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/dpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kai</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/dpk1.png" %><br><%= image_tag "kyo/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>R.E.D Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Koto Tsuki You</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Orochi Nagi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Final Showdown</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "kyo/qcbpp1.png" %><br><%= image_tag "kyo/qcbpp2.png" %><br><%= image_tag "kyo/qcbpp3.png" %></th>
    <td></td>
  </tr>
</table>