<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>High Jump Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jdfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Feint</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jump Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Aura Sphere</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/qcfp1.png" %><br><%= image_tag "lucario/qcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Air Aura Sphere</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jqcfp1.png" %><br><%= image_tag "lucario/jqcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Force Palm</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Metal Claw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/dpp1.png" %><br><%= image_tag "lucario/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Double Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/dpk1.png" %><br><%= image_tag "lucario/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Combat</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/qcbpp1.png" %><br><%= image_tag "lucario/qcbpp2.png" %><br><%= image_tag "lucario/qcbpp3.png" %><br><%= image_tag "lucario/qcbpp4.png" %><br><%= image_tag "lucario/qcbpp5.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Aura Storm</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Air Aura Storm</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/jqcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Aura Wave</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "lucario/dpkk1.png" %><br><%= image_tag "lucario/dpkk2.png" %></th>
    <td></td>
  </tr>
</table>