<table class="CharMoves">
  <tr>
    <th>Close Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/cllp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/clhp1.png" %><br><%= image_tag "maki/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/chp1.png" %><br><%= image_tag "maki/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tonfa Drop</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/adhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Target Combo</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/tc1.png" %><br><%= image_tag "maki/tc2.png" %><br><%= image_tag "maki/tc3.png" %><br><%= image_tag "maki/tc4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Genko</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hayagake</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcfk1.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Chuu De Wazaga Hassei</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcfk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kyou De Wazaga Hassei</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcfk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Saka Hayagake</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tengu Daoshi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/aqcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Reppukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/dpk1.png" %><br><%= image_tag "maki/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Bushin Gou Raiha</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcbkk1.png" %><br><%= image_tag "maki/qcbkk2.png" %><br><%= image_tag "maki/qcbkk3.png" %><br><%= image_tag "maki/qcbkk4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tesshin Hou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/qcfkk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ajara Tengu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "maki/aqcfpp.png" %></th>
    <td></td>
  </tr>
</table>