<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kaoruna</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/flp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shimaki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hayate</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Fukiage</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/dpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Oroshi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tsurugi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/aqcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Karakusa</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Ground Pound</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Seichusan Godanzuki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Abare Tosanmi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "makoto/aqcbkk.png" %></th>
    <td></td>
  </tr>
</table>