<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/chp1.png" %><br><%= image_tag "megaman/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/jhp1.png" %><br><%= image_tag "megaman/jhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Quick Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Launch Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Buster Cannon Low</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcflp1.png" %><br><%= image_tag "megaman/qcflp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Buster Cannon High</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcfhp1.png" %><br><%= image_tag "megaman/qcfhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Air Buster Shot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/jqcfp1.png" %><br><%= image_tag "megaman/jqcfp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Mine</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcbp1.png" %><br><%= image_tag "megaman/qcbp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Drill Run</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Laser Upper</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/dpp1.png" %><br><%= image_tag "megaman/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shining Laser</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Stationary Orb</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcbpp1.png" %><br><%= image_tag "megaman/qcbpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hyper Missile</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "megaman/qcbkk1.png" %><br><%= image_tag "megaman/qcbkk2.png" %></th>
    <td></td>
  </tr>
</table>