<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/shp1.png" %><br><%= image_tag "rainbow/shp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/shk1.png" %><br><%= image_tag "rainbow/shk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/chp1.png" %><br><%= image_tag "rainbow/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hoof Dive</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/adfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hurricane Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Storm Cloud</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>The Rainbow Dash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/aqcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flight</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/aqcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sonic Somersault</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Air Catch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/aqcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Maximum Rainbow</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/aqcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sonic Rainboom</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rainbow/qcbpp.png" %></th>
    <td></td>
  </tr>
</table>