<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/clhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/shk1.png" %><br><%= image_tag "rugal/shk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Reppuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/qcfp.png" %><br><%= image_tag "rugal/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dark Barrier</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Genocide Cutter</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/dpk1.png" %><br><%= image_tag "rugal/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Godpress</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/hcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dark Smash</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/aqcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kaiser Wave</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/qcfk.png" %><br><%= image_tag "rugal/qcfkpr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Genocide Heaven</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/dpkk1.png" %><br><%= image_tag "rugal/dpkk2.png" %><br><%= image_tag "rugal/dpkk3.png" %><br><%= image_tag "rugal/dpkk4.png" %><br><%= image_tag "rugal/dpkk5.png" %><br><%= image_tag "rugal/dpkk6.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Rugal Execution</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "rugal/qcbkk.png" %></th>
    <td></td>
  </tr>
</table>