<table class="CharMoves">
  <tr>
   <th>Standing Light Punch</th>
   <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/slp.png" %></th>
    <td>A basic standing punch. Quick and disjointed, it's a good move to beat other standing attacks. Low risk but low reward. It doesn't hit crouching opponents.</td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/slk.png" %></th>
    <td>A quick kick to the ankles. Another low risk/low reward attack, this one designed to beat other low attacks, such as Ryu's own crouching light kick. It also hits as a low.</td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/shp.png" %></th>
    <td>A hard high punch. Despite how it looks, it can also hit crouching opponents. Does good damage and stun, and while it's not as disjointed as his standing light punch, it's not a bad poke by itself either. Being +6 on hit and +3 on block, it also serves well as a combo starter and a tool for frame trapping your opponent. Expect to be using this attack a lot when you go on the offensive.</td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/shk.png" %></th>
    <td>A high roundhouse kick. It's not as good of a poke as his other standing attacks, and it misses on crouching opponents, but it does the most damage and stun out of all of his normal attacks and is invincible to airborne attacks while the hitbox is active. This makes it a solid (though somewhat slow) one button anti-air.</td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/clp.png" %></th>
    <td>A quick crouching punch. Not great as a poke, but it hits crouching opponents and can be rapid fired, so combined with its speed it can be useful for setting up tick throws or true blockstrings.</td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/clk.png" %></th>
    <td>A low kick to the opponent's feet. Decent speed, hits low, good reach, slightly disjointed, and it can be cancelled. One of your most important normals in the neutral game.</td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/chp1.png" %><br><%= image_tag "ryu/chp2.png" %></th>
    <td>A fast punch into the air. Despite its horizontal disjoint, it's not very good as a poke, as the first hitbox doesn't stay out very long, and its long recovery will lead to you getting punished for throwing this out randomly. It works well as a faster anti-air than Standing Heavy Kick though, and it's his one normal that forces stand on hit. This allows for a Light Tatsumaki Senpuukyaku to connect afterwards for his high damaging corner combos.</td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/chk.png" %></th>
    <td>A low sweep. Knocks the opponent into the air and causes a hard knockdown. It doesn't quite have the reach of crouching light kick, but it has a better hitbox for whiff punishing. It can also be cancelled, and crouching heavy kick to Shinkuu Hadoken will combo on hit.</td>
  </tr>
  <tr>
    <th>Jumping Light punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/jlp1.png" %><br><%= image_tag "ryu/jlp2.png" %></th>
    <td>An airborne uppercut. Hits twice and causes a knockdown against airborne opponents. A bit on the slow side, but works well if you have a good read on an opponent's jump.</td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/jlk.png" %></th>
    <td>Ryu's cross-up attack. It's a light strength attack though, so the hitstun and blockstun is relatively low; you'll have to hit it a bit deeper and be quick to combo off of this.</td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/jhp.png" %></th>
    <td>A decent jump-in normal, but the hitbox is better for an air-to-air. Faster than Jumping Light Punch but doesn't cause a knockdown against airborne opponent's unless it's a counter-hit. The hitbox also extends behind him just enough to be able to hit as a cross-up against certain characters on their wake-up.</td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/jhk.png" %></th>
    <td>Ryu's best jump-in normal. Not a bad air-to-air either.</td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/throw.png" %></th>
    <td>An average throw. Tosses the opponent a ways and causes a hard knockdown.</td>
  </tr>
  <tr>
    <th>Collarbone Breaker</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/flp1.png" %><br><%= image_tag "ryu/flp2.png" %></th>
    <td>Ryu's command overhead. Average speed for an overhead, hits twice, and has just enough advantage on hit to link into crouching light punch. It can also be special cancelled if you don't feel confident in landing that one frame link.</td>
  </tr>
  <tr>
    <th>Solar Plexus Strike</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/fhp1.png" %><br><%= image_tag "ryu/fhp2.png" %></th>
    <td>A slow, two-hitting punch to the gut. On counter-hit, it crumples the opponent, which opens up the opportunity for a large combo. But even if you don't hit with it as a counter-hit, it has enough frame advantage to link into another attack for a combo, or if it's blocked, to set-up a frame trap. It can also be special cancelled.</td>
  </tr>
  <tr>
   <th>Hadoken</th>
   <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/qcf.png" %><br><%= image_tag "ryu/qcfp.png" %></th>
    <td>Ryu's projectile. Start-up is pretty quick and it works well as a poke. The recovery isn't too bad either, but you're still vulnerable to a jump-in or a roll if you start throwing this out too much.</td>
  </tr>
  <tr>
    <th>Shoryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/dp1.png" %><br><%= image_tag "ryu/dp2.png" %></th>
    <td>A strong uppercut. The images are for the heavy version; the light version has full invincibility past the start-up. Works well as a strong anti-air or a combo ender. The light version also allows for a juggle into Shinkuu Hadoken if you anti-air with it early enough.</td>
  </tr>
  <tr>
    <th>Tatsumaki Senpuukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/qcb.png" %></th>
    <td>Hurricane Kick. The light version hits once and doesn't travel very far, but it knocks the opponent up into the air enough to combo afterwards in the corner. The Heavy version travels much farther and is projectile invincible through most of it, so it can be used against projectiles if you have a good read on it. The Heavy version also causes a hard knockdown, so it can be used as another combo ender. The air version can be used as an ambiguous cross-up, and if you're quick enough, you can combo into a Shinkuu Hadoken on hit.</td>
  </tr>
  <tr>
    <th>Joudan Sokutogeri</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/qcfk.png" %></th>
    <td>The Donkey Kick, as many call it. A decent whiff punish tool due to how far forward it moves. Heavy version can start juggles in the corner or help extend them; it also can set-up frame traps, since it's +1 on block. The EX version wall bounces, which makes it good for setting up mid-screen combos.</td>
  </tr>
  <tr>
    <th>Shinkuu Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/qcfpp.png" %><br><%= image_tag "ryu/qcfppp.png" %></th>
    <td>One of Ryu's best moves. 1 frame start-up makes it a fantastic move for punishing the opponent, or tacking on some damage in a situation where other moves wouldn't be fast enough. It can also start juggles in the corner, and it's safe on block, and even safe if it's parried. Expect to be using this move a lot.</td>
  </tr>
  <tr>
    <th>Shinkuu Tatsumaki Senpuukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/qcbkk.png" %></th>
    <td>Lots of invincibility and tons of damage, this is a high-risk high-reward reversal. It only has a juggle potential of 1, so it can't really be used in juggles, but from an optimized combo, this can easily finish an opponent.</td>
  </tr>
  <tr>
    <th>Metsu Shoryuken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "ryu/dppp1.png" %><br><%= image_tag "ryu/dppp2.png" %></th>
    <td>Ryu's Ultra. When he has access to this, it gives him another powerful combo ender. Just don't miss.</td>
  </tr>
</table>