<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/chp1.png" %><br><%= image_tag "sakura/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Flower Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/qcfp.png" %><br><%= image_tag "sakura/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shooken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/dpp1.png" %><br><%= image_tag "sakura/dpp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shunpukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/qcblk.png" %><br><%= image_tag "sakura/qcbhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sakura Otoshi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/dpk1.png" %><br><%= image_tag "sakura/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Shinkuu Hadoken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/qcfpp.png" %><br><%= image_tag "sakura/qcfpppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Haru Ichiban</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "sakura/qcbkk1.png" %><br><%= image_tag "sakura/qcbkk2.png" %></th>
    <td></td>
  </tr>
</table>