<table class="CharMoves">
  <tr>
    <th>Close Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/cllp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/clhp1.png" %><br><%= image_tag "talbain/clhp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Close Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/clhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Rapid Crunch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Lightning Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/fhk1.png" %><br><%= image_tag "talbain/fhk2.png" %><br><%= image_tag "talbain/fhk3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Canyon Rounder</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/bhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Canyon Flyer</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/ufhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Beast Cannon</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Climb Laser</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Million Flicker</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/qcbp1.png" %><br><%= image_tag "talbain/qcbp2.png" %><br><%= image_tag "talbain/qcbp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>EX Million Flicker</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Wild Circular</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Moment Slice</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/dpkk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dragon Cannon</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "talbain/hcbkk.png" %></th>
    <td></td>
  </tr>
</table>