<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Gut Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/flp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Backhand Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Power Wave</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcfp.png" %><br><%= image_tag "terry/qcfppr.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Burn Knuckle</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Power Charge</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crack Shoot</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Rising Tackle</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Power Geyser</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcfkk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Buster Wolf</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "terry/qcbpp.png" %></th>
    <td></td>
  </tr>
</table>