<p>Health: 900 Stun: 900</p>
<table class="FrameTable">
  <colgroup>
    <col class="firstcolumn" />
    <col class="Command" />
  </colgroup>
  <tr>
    <th>Move Name</th>
    <th>Command</th>
    <th>Move Type</th>
    <th>Damage</th>
    <th>Stun</th>
    <th>Meter Gain<br>(Whiff/Hit)</th>
    <th>Start-up</th>
    <th>Active</th>
    <th>Recovery</th>
    <th>Advantage<br>(On Hit)</th>
    <th>Advantage<br>(On Block)</th>
    <th>Juggle Potential</th>
    <th>Juggle Cost</th>
    <th>Hit Level</th>
    <th>Cancel Ability</th>
    <th>Move Properties</th>
    <th>Counter-hit Properties</th>
    <th>Other Notes</th>
  </tr>
  <tr>
    <td>Standing Light Punch</td>
    <td><%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>20</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>2</td>
    <td>6</td>
    <td>+7</td>
    <td>+4</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Standing Light Kick</td>
    <td><%= image_tag "info/lk.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>3</td>
    <td>2</td>
    <td>8</td>
    <td>+4</td>
    <td>+1</td>
    <td>2</td>
    <td>1</td>
    <td>Low</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Standing Heavy Punch</td>
    <td><%= image_tag "info/hp.png" %></td>
    <td>Medium</td>
    <td>55</td>
    <td>100</td>
    <td>5/40</td>
    <td>6</td>
    <td>2</td>
    <td>13</td>
    <td>+2</td>
    <td>-1</td>
    <td>3</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Standing Heavy Kick</td>
    <td><%= image_tag "info/hk.png" %></td>
    <td>Heavy</td>
    <td>110</td>
    <td>200</td>
    <td>10/60</td>
    <td>10</td>
    <td>4</td>
    <td>18</td>
    <td>-</td>
    <td>-8</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Light Punch</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>20</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>2</td>
    <td>6</td>
    <td>+6</td>
    <td>+3</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Light Kick</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>Light</td>
    <td>30</td>
    <td>50</td>
    <td>0/20</td>
    <td>3</td>
    <td>2</td>
    <td>8</td>
    <td>+4</td>
    <td>+1</td>
    <td>2</td>
    <td>1</td>
    <td>Low</td>
    <td>ch/sp/su</td>
    <td><%= image_tag "info/rapidfire.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Heavy Punch</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/hp.png" %></td>
    <td>Heavy</td>
    <td>75*50</td>
    <td>125*75</td>
    <td>10/30</td>
    <td>9</td>
    <td>3(3)2</td>
    <td>14</td>
    <td>+1</td>
    <td>-2</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>sp/su</td>
    <td><%= image_tag "info/stagger.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Crouching Heavy Kick</td>
    <td><%= image_tag "info/down.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Medium</td>
    <td>60</td>
    <td>100</td>
    <td>5/40</td>
    <td>6</td>
    <td>2</td>
    <td>14</td>
    <td>+1</td>
    <td>-1</td>
    <td>3</td>
    <td>1</td>
    <td>Low</td>
    <td>ch/sp/su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Light Punch</td>
    <td><%= image_tag "info/lp.png" %></td>
    <td>Light</td>
    <td>50</td>
    <td>50</td>
    <td>0/20</td>
    <td>4</td>
    <td>11</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Light Kick</td>
    <td><%= image_tag "info/lk.png" %></td>
    <td>Medium</td>
    <td>70</td>
    <td>100</td>
    <td>0/20</td>
    <td>4</td>
    <td>11</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>2</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+1 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Heavy Punch</td>
    <td><%= image_tag "info/hp.png" %></td>
    <td>Heavy</td>
    <td>100</td>
    <td>200</td>
    <td>10/60</td>
    <td>7</td>
    <td>6</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Jumping Heavy Kick</td>
    <td><%= image_tag "info/hk.png" %></td>
    <td>Heavy</td>
    <td>100</td>
    <td>200</td>
    <td>0/20</td>
    <td>4</td>
    <td>11</td>
    <td>2 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %><br><%= image_tag "info/knockdown.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Normal Throw</td>
    <td><%= image_tag "info/lp.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>-</td>
    <td>130</td>
    <td>130</td>
    <td>0/0</td>
    <td>3</td>
    <td>2</td>
    <td>21</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Throw</td>
    <td>-</td>
    <td><%= image_tag "info/knockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Raigekishu</td>
    <td><%= image_tag "info/downright.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Medium</td>
    <td>60</td>
    <td>100</td>
    <td>5/30</td>
    <td>7</td>
    <td>Until<br>Ground</td>
    <td>6 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>3</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/aironly.png" %><br><%= image_tag "info/knockdown.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Launcher</td>
    <td><%= image_tag "info/2k.gif" %></td>
    <td>Medium</td>
    <td>50</td>
    <td>100</td>
    <td>5/40</td>
    <td>7</td>
    <td>4</td>
    <td>12</td>
    <td>-</td>
    <td>-2</td>
    <td>3</td>
    <td>1</td>
    <td>Mid</td>
    <td>jump</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td>Crushes airborne attacks frames 7-11</td>
  </tr>
  <tr>
    <td>Senpukyaku</td>
    <td><%= image_tag "info/right.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Medium</td>
    <td>80</td>
    <td>100</td>
    <td>5/40</td>
    <td>20</td>
    <td>4</td>
    <td>13</td>
    <td>0</td>
    <td>-2</td>
    <td>4</td>
    <td>1</td>
    <td>Overhead</td>
    <td>-</td>
    <td><%= image_tag "info/groundbounce.png" %></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Tourouzan (1st Hit)</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>40</td>
    <td>50</td>
    <td>15/40</td>
    <td>8</td>
    <td>2</td>
    <td>22</td>
    <td>+1</td>
    <td>-1</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Tourouzan (2nd Hit)</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>55</td>
    <td>50</td>
    <td>15/40</td>
    <td>8</td>
    <td>2</td>
    <td>25</td>
    <td>0</td>
    <td>-4</td>
    <td>5</td>
    <td>1</td>
    <td>Mid</td>
    <td>su</td>
    <td></td>
    <td>+3 Frame Advantage</td>
    <td></td>
  </tr>
  <tr>
    <td>Tourouzan (3rd Hit)</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/punch.gif" %></td>
    <td>Special</td>
    <td>55</td>
    <td>50</td>
    <td>15/40</td>
    <td>8</td>
    <td>2</td>
    <td>29</td>
    <td>-4</td>
    <td>-8</td>
    <td>6</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Kaihou (Light)</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>15/-</td>
    <td>-</td>
    <td>-</td>
    <td>27</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td></td>
    <td></td>
    <td>Passes through opponents frames 6-21. Fully invincible frames 11-15.</td>
  </tr>
  <tr>
    <td>Kaihou (Heavy)</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>15/-</td>
    <td>-</td>
    <td>-</td>
    <td>42</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td></td>
    <td></td>
    <td>Passes through opponents frames 9-29. Fully invincible frames 14-23.</td>
  </tr>
  <tr>
    <td>Byakko Soshoda (Light)</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/lp.png" %></td>
    <td>Special</td>
    <td>120</td>
    <td>150</td>
    <td>15/40</td>
    <td>16</td>
    <td>9</td>
    <td>17</td>
    <td>0</td>
    <td>-7</td>
    <td>4</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/projectile.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Byakko Soshoda (Heavy)</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/hp.png" %></td>
    <td>Special</td>
    <td>140</td>
    <td>200</td>
    <td>15/40</td>
    <td>22</td>
    <td>9</td>
    <td>15</td>
    <td>-</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/projectile.png" %><%= image_tag "info/wallbounce.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Senkyutai (Light)</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/lk.png" %></td>
    <td>Special</td>
    <td>70*50</td>
    <td>100*50</td>
    <td>15/40</td>
    <td>5</td>
    <td>3*3</td>
    <td>8 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>6*7</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %></td>
    <td></td>
    <td>Fully invincible frames 1-6</td>
  </tr>
  <tr>
    <td>Senkyutai (Heavy)</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/hk.png" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td></td>
    <td></td>
    <td>Projectile invincible starting on frame 5. Transitions into the LK version on frame 38 or when close to the opponent.</td>
  </tr>
  <tr>
    <td>Zenpo Tenshin</td>
    <td><%= image_tag "info/hcb.png" %> + <%= image_tag "info/kick.gif" %></td>
    <td>Special</td>
    <td>-</td>
    <td>-</td>
    <td>15/0</td>
    <td>8</td>
    <td>2</td>
    <td>48</td>
    <td>+8</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>Throw</td>
    <td>-</td>
    <td><%= image_tag "info/stagger.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Sourai Rengeki</td>
    <td><%= image_tag "info/qcb.png" %> + <%= image_tag "info/2p.gif" %></td>
    <td>Super</td>
    <td>210</td>
    <td>0</td>
    <td>-400/0</td>
    <td>10</td>
    <td>4</td>
    <td>30</td>
    <td>-</td>
    <td>-15</td>
    <td>10</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/capture.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Raishin Mahhaken</td>
    <td><%= image_tag "info/qcf.png" %> + <%= image_tag "info/2p.gif" %></td>
    <td>Super</td>
    <td>300</td>
    <td>0</td>
    <td>-800/0</td>
    <td>8</td>
    <td>5</td>
    <td>43</td>
    <td>-</td>
    <td>-28</td>
    <td>10</td>
    <td>1</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/capture.png" %><br><%= image_tag "info/crumple.png" %></td>
    <td></td>
    <td>Fully invincible frames 1-9</td>
  </tr>
  <tr>
    <td>Tenshin Senkyutai</td>
    <td><%= image_tag "info/dp.png" %> + <%= image_tag "info/2k.gif" %></td>
    <td>Ultra</td>
    <td>60x5</td>
    <td>0</td>
    <td>0/0</td>
    <td>7</td>
    <td>3*3(22)3<br>(12)3(9)3</td>
    <td>20 (land)</td>
    <td>-</td>
    <td>-</td>
    <td>12</td>
    <td>0</td>
    <td>Mid</td>
    <td>-</td>
    <td><%= image_tag "info/launch.png" %><br><%= image_tag "info/hardknockdown.png" %></td>
    <td></td>
    <td>Projectile invincible on start-up until frame 8 of the up-kick, rolls forward until frame 33 or you're close to the opponent.</td>
  </tr>
</table>