<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/clk.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/chp.png" %><br><%= image_tag "yang/chp2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Raigekishu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/jdfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Launcher</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/kk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senpukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/fhk.png" %></th>
    <td></td>
  </tr>  
  <tr>
    <th>Tourouzan</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/qcfp1.png" %><br><%= image_tag "yang/qcfp2.png" %><br><%= image_tag "yang/qcfp3.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kaihou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/qcfk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Byakko Soshoda</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senkyutai</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/dpk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zenpo Tenshin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sourai Rengeki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Raishin Mahhaken</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/qcfpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenshin Senkyutai</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yang/dpkk.png" %></th>
    <td></td>
  </tr>
</table>