<table class="CharMoves">
  <tr>
    <th>Standing Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/slp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/slk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/shp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Standing Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/shk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/clp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/clk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/chp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Crouching Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/chk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/jlp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Light Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/jlk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Punch</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/jhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Jumping Heavy Kick</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/jhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Normal Throw</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/throw.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Raigekishuu</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/jdfhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Launcher</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/kk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Senpuukyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/fhk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Dakai</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/fhp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zesshou Hohou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/qcfp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Kobokushi</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/qcbp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tetsuzan Kou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/dpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Nishou Kyaku</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/dpk1.png" %><br><%= image_tag "yun/dpk2.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Zenpou Tenshin</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/hcbk.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>You Hou</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/qcfpp1.png" %><br><%= image_tag "yun/qcfpp2.png" %><br><%= image_tag "yun/qcfpp3.png" %><br><%= image_tag "yun/qcfpp4.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Sorai Rengeki</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/qcbpp.png" %></th>
    <td></td>
  </tr>
  <tr>
    <th>Tenshin Senkyuutai</th>
    <td></td>
  </tr>
  <tr>
    <th><%= image_tag "yun/dpkk.png" %></th>
    <td></td>
  </tr>
</table>