<div id="characters">
  <div class="charnames1">
  <ul>
  <li><%= link_to "Ryu", ryu_path, :class => "mainlink" %></li>
  <li><%= link_to "Ken", ken_path, :class => "mainlink" %> </li>
  <li><%= link_to "Guile", guile_path, :class => "mainlink" %> </li>
  <li><%= link_to "Mike Haggar", haggar_path, :class => "mainlink" %> </li>
  <li><%= link_to "Makoto", makoto_path, :class => "mainlink" %> </li>
  <li><%= link_to "Sakura", sakura_path, :class => "mainlink" %> </li>
  <li><%= link_to "Karin", karin_path, :class => "mainlink" %> </li>
  <li><%= link_to "Dan", dan_path, :class => "mainlink" %> </li>
  <li><%= link_to "Megaman", megaman_path, :class => "mainlink" %> </li>
  <li><%= link_to "Chun-li", chun_path, :class => "mainlink" %> </li>
  <li><%= link_to "Dudley", dudley_path, :class => "mainlink" %> </li>
  <li><%= link_to "Yang", yang_path, :class => "mainlink" %> </li>
  <li><%= link_to "Yun", yun_path, :class => "mainlink" %> </li>
  <li><%= link_to "Jill Valentine", jill_path, :class => "mainlink" %> </li>
  <li><%= link_to "Akuma", akuma_path, :class => "mainlink" %> </li>
  <li><%= link_to "Jon Talbain", talbain_path, :class => "mainlink" %></li>
  </ul>
  </div>
  <div class="charnames2">
  <li><%= link_to "Guy", guy_path, :class => "mainlink" %> </li>
  <li><%= link_to "Rolento", rolento_path, :class => "mainlink" %> </li>
  <li><%= link_to "Sagat", sagat_path, :class => "mainlink" %> </li>
  <li><%= link_to "Rose", rose_path, :class => "mainlink" %> </li>
  <li><%= link_to "Zangief", zangief_path, :class => "mainlink" %> </li>
  <li><%= link_to "Ibuki", ibuki_path, :class => "mainlink" %> </li>
  <li><%= link_to "T. Hawk", thawk_path, :class => "mainlink" %> </li>
  <li><%= link_to "M. Bison", bison_path, :class => "mainlink" %> </li>
  <li><%= link_to "C. Commando", commando_path, :class => "mainlink" %> </li>
  <li><%= link_to "Zero", zero_path, :class => "mainlink" %> </li>
  <li><%= link_to "Gouken", gouken_path, :class => "mainlink" %> </li>
  <li><%= link_to "Elena", elena_path, :class => "mainlink" %> </li>
  <li><%= link_to "Cammy", cammy_path, :class => "mainlink" %> </li>
  <li><%= link_to "SonSon", sonson_path, :class => "mainlink" %> </li>
  <li><%= link_to "Ingrid", ingrid_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kyosuke", kyosuke_path, :class => "mainlink" %> </li>
  </div>
  <div class="charnames3">
  <li><%= link_to "Decapre", decapre_path, :class => "mainlink" %> </li>
  <li><%= link_to "Juri", jurihan_path, :class => "mainlink" %> </li>
  <li><%= link_to "Maki", maki_path, :class => "mainlink" %> </li>
  <li><%= link_to "Dhalsim", dhalsim_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kim", kim_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kyo", kyo_path, :class => "mainlink" %> </li>
  <li><%= link_to "Ryo", ryo_path, :class => "mainlink" %> </li>
  <li><%= link_to "Terry", terry_path, :class => "mainlink" %> </li>
  <li><%= link_to "Jin", jin_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kazuya", kazuya_path, :class => "mainlink" %> </li>
  <li><%= link_to "Haohmaru", haohmaru_path, :class => "mainlink" %> </li>
  <li><%= link_to "Hibiki", hibiki_path, :class => "mainlink" %> </li>
  <li><%= link_to "Klonoa", klonoa_path, :class => "mainlink" %> </li>
  <li><%= link_to "Joe", joe_path, :class => "mainlink" %> </li>
  <li><%= link_to "Lucario", lucario_path, :class => "mainlink" %> </li>
  <li><%= link_to "Blaziken", blaziken_path, :class => "mainlink" %> </li>
  </div>
  <div class="charnames4">
  <li><%= link_to "Mario", mario_path, :class => "mainlink" %> </li>
  <li><%= link_to "Yoshi", yoshi_path, :class => "mainlink" %> </li>
  <li><%= link_to "Gengar", gengar_path, :class => "mainlink" %> </li>
  <li><%= link_to "Sonic", sonic_path, :class => "mainlink" %> </li>
  <li><%= link_to "Rock Howard", rock_path, :class => "mainlink" %> </li>
  <li><%= link_to "Geese Howard", geese_path, :class => "mainlink" %> </li>
  <li><%= link_to "Ryuji", ryuji_path, :class => "mainlink" %> </li>
  <li><%= link_to "Yuri", yuri_path, :class => "mainlink" %> </li>
  <li><%= link_to "Link", link_path, :class => "mainlink" %> </li>
  <li><%= link_to "Snake", snake_path, :class => "mainlink" %> </li>
  <li><%= link_to "Athena", athena_path, :class => "mainlink" %> </li>
  <li><%= link_to "Nakoruru", nakoruru_path, :class => "mainlink" %> </li>
  <li><%= link_to "Squall", squall_path, :class => "mainlink" %> </li>
  <li><%= link_to "Applejack", applejack_path, :class => "mainlink" %> </li>
  <li><%= link_to "Twilight Sparkle", twilight_path, :class => "mainlink" %> </li>
  <li><%= link_to "Pinkie Pie", pinkie_path, :class => "mainlink" %> </li>
  </div>
  <div class="charnames5">
  <li><%= link_to "Rarity", rarity_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kula", kula_path, :class => "mainlink" %> </li>
  <li><%= link_to "Iori", iori_path, :class => "mainlink" %> </li>
  <li><%= link_to "Rainbow Dash", rainbow_path, :class => "mainlink" %> </li>
  <li><%= link_to "Fluttershy", fluttershy_path, :class => "mainlink" %> </li>
  <li><%= link_to "King", king_path, :class => "mainlink" %> </li>
  <li><%= link_to "Gardevoir", gardevoir_path, :class => "mainlink" %> </li>
  <li><%= link_to "Rugal", rugal_path, :class => "mainlink" %> </li>
  </div>

<table>
<tr>
  <th></th>
  <th><%= link_to image_tag("megaman.png", alt: "Megaman"), megaman_path %></th>
  <th><%= link_to image_tag("zero.png", alt: "Zero"), zero_path %></th>
  <th><%= link_to image_tag("talbain.png", alt: "Talbain"), talbain_path %></th>
  <th><%= link_to image_tag("rarity.png", alt: "Rarity"), rarity_path %></th>
  <th><%= link_to image_tag("pinkie.png", alt: "Pinkie"), pinkie_path %></th>
  <th><%= link_to image_tag("fluttershy.png", alt: "Fluttershy"), fluttershy_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("jill.png", alt: "Jill"), jill_path %></th>
  <th><%= link_to image_tag("commando.png", alt: "Commando"), commando_path %></th>
  <th><%= link_to image_tag("sonson.png", alt: "Sonson"), sonson_path %></th>
  <th><%= link_to image_tag("twilight.png", alt: "Twilight"), twilight_path %></th>
  <th><%= link_to image_tag("applejack.png", alt: "Applejack"), applejack_path %></th>
  <th><%= link_to image_tag("rainbow.png", alt: "Rainbow"), rainbow_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("haggar.png", alt: "Haggar"), haggar_path %></th>
  <th><%= link_to image_tag("maki.png", alt: "Maki"), maki_path %></th>
  <th><%= link_to image_tag("guy.png", alt: "Guy"), guy_path %></th>
  <th><%= link_to image_tag("blaziken.png", alt: "Blaziken"), blaziken_path %></th>
  <th><%= link_to image_tag("gardevoir.png", alt: "Gardevoir"), gardevoir_path %></th>
  <th><%= link_to image_tag("gengar.png", alt: "Gengar"), gengar_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("ingrid.png", alt: "Ingrid"), ingrid_path %></th>
  <th><%= link_to image_tag("sakura.png", alt: "Sakura"), sakura_path %></th>
  <th><%= link_to image_tag("rolento.png", alt: "Rolento"), rolento_path %></th>
  <th><%= link_to image_tag("mario.png", alt: "Mario"), mario_path %></th>
  <th><%= link_to image_tag("link.png", alt: "Link"), link_path %></th>
  <th><%= link_to image_tag("lucario.png", alt: "Lucario"), lucario_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("karin.png", alt: "Karin"), karin_path %></th>
  <th><%= link_to image_tag("dan.png", alt: "Dan"), dan_path %></th>
  <th><%= link_to image_tag("rose.png", alt: "Rose"), rose_path %></th>
  <th><%= link_to image_tag("klonoa.png", alt: "Klonoa"), klonoa_path %></th>
  <th><%= link_to image_tag("sonic.png", alt: "Sonic"), sonic_path %></th>
  <th><%= link_to image_tag("yoshi.png", alt: "Yoshi"), yoshi_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("chun.png", alt: "Chun-li"), chun_path %></th>
  <th><%= link_to image_tag("ken.png", alt: "Ken"), ken_path %></th>
  <th><%= link_to image_tag("ryu.png", alt: "Ryu"), ryu_path %></th>
  <th><%= link_to image_tag("kyo.png", alt: "Kyo"), kyo_path %></th>
  <th><%= link_to image_tag("kim.png", alt: "Kim"), kim_path %></th>
  <th><%= link_to image_tag("terry.png", alt: "Terry"), terry_path %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("cammy.png", alt: "Cammy"), cammy_path %></th>
  <th><%= link_to image_tag("sagat.png", alt: "Sagat"), sagat_path %></th>
  <th><%= link_to image_tag("guile.png", alt: "Guile"), guile_path %></th>
  <th><%= link_to image_tag("joe.png", alt: "Joe"), joe_path %></th>
  <th><%= link_to image_tag("athena.png", alt: "Athena"), athena_path %></th>
  <th><%= link_to image_tag("ryo.png", alt: "Ryo"), ryo_path %></th>
  <th></th>
</tr>
<tr>
  <th><%= link_to image_tag("decapre.png", alt: "Decapre"), decapre_path %></th>
  <th><%= link_to image_tag("juri.png", alt: "Juri"), jurihan_path %></th>
  <th><%= link_to image_tag("hawk.png", alt: "T. Hawk"), thawk_path %></th>
  <th><%= link_to image_tag("zangief.png", alt: "Zangief"), zangief_path %></th>
  <th><%= link_to image_tag("ryuji.png", alt: "Ryuji"), ryuji_path %></th>
  <th><%= link_to image_tag("rock.png", alt: "Rock"), rock_path %></th>
  <th><%= link_to image_tag("geese.png", alt: "Geese"), geese_path %></th>
  <th><%= link_to image_tag("rugal.png", alt: "Rugal"), rugal_path %></th>
</tr>
<tr>
  <th><%= link_to image_tag("kyosuke.png", alt: "Kyosuke"), kyosuke_path %></th>
  <th><%= link_to image_tag("gouken.png", alt: "Gouken"), gouken_path %></th>
  <th><%= link_to image_tag("akuma.png", alt: "Akuma"), akuma_path %></th>
  <th><%= link_to image_tag("bison.png", alt: "Bison"), bison_path %></th>
  <th><%= link_to image_tag("squall.png", alt: "Squall"), squall_path %></th>
  <th><%= link_to image_tag("snake.png", alt: "Snake"), snake_path %></th>
  <th><%= link_to image_tag("yuri.png", alt: "Yuri"), yuri_path %></th>
  <th><%= link_to image_tag("iori.png", alt: "Iori"), iori_path %></th>
</tr>
<tr>
  <th><%= link_to image_tag("dhalsim.png", alt: "Dhalsim"), dhalsim_path %></th>
  <th><%= link_to image_tag("dudley.png", alt: "Dudley"), dudley_path %></th>
  <th><%= link_to image_tag("yun.png", alt: "Yun"), yun_path %></th>
  <th><%= link_to image_tag("yang.png", alt: "Yang"), yang_path %></th>
  <th><%= link_to image_tag("jin.png", alt: "Jin"), jin_path %></th>
  <th><%= link_to image_tag("kazuya.png", alt: "Kazuya"), kazuya_path %></th>
  <th><%= link_to image_tag("kula.png", alt: "Kula"), kula_path %></th>
  <th><%= link_to image_tag("king.png", alt: "King"), king_path %></th>
</tr>
<tr>
  <th></th>
  <th><%= link_to image_tag("elena.png", alt: "Elena"), elena_path %></th>
  <th><%= link_to image_tag("ibuki.png", alt: "Ibuki"), ibuki_path %></th>
  <th><%= link_to image_tag("makoto.png", alt: "Makoto"), makoto_path %></th>
  <th><%= link_to image_tag("haohmaru.png", alt: "Haohmaru"), haohmaru_path %></th>
  <th><%= link_to image_tag("nakoruru.png", alt: "Nakoruru"), nakoruru_path %></th>
  <th><%= link_to image_tag("hibiki.png", alt: "Hibiki"), hibiki_path %></th>
  <th></th>
</tr>
</table>
</div>