<div id="characters">
  <div class="charnames1">
  <ul>
  <li><%= link_to "Ryu", ryu_path, :class => "mainlink" %></li>
  <li><%= link_to "Ken", ken_path, :class => "mainlink" %> </li>
  <li><%= link_to "Guile", '#', :class => "badlink" %> </li>
  <li><%= link_to "Mike Haggar", '#', :class => "badlink" %> </li>
  <li><%= link_to "Makoto", '#', :class => "badlink" %> </li>
  <li><%= link_to "Sakura", '#', :class => "badlink" %> </li>
  <li><%= link_to "Karin", '#', :class => "badlink" %> </li>
  <li><%= link_to "Dan", '#', :class => "badlink" %> </li>
  <li><%= link_to "Megaman", '#', :class => "badlink" %> </li>
  <li><%= link_to "Chun-li", '#', :class => "badlink" %> </li>
  <li><%= link_to "Dudley", '#', :class => "badlink" %> </li>
  <li><%= link_to "Yang", '#', :class => "badlink" %> </li>
  <li><%= link_to "Yun", '#', :class => "badlink" %> </li>
  <li><%= link_to "Jill Valentine", '#', :class => "badlink" %> </li>
  <li><%= link_to "Akuma", '#', :class => "badlink" %> </li>
  <li><%= link_to "Jon Talbain", '#', :class => "badlink" %></li>
  </ul>
  </div>
  <div class="charnames2">
  <li><%= link_to "Guy", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rolento", '#', :class => "badlink" %> </li>
  <li><%= link_to "Sagat", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rose", '#', :class => "badlink" %> </li>
  <li><%= link_to "Zangief", '#', :class => "badlink" %> </li>
  <li><%= link_to "Ibuki", '#', :class => "badlink" %> </li>
  <li><%= link_to "T. Hawk", '#', :class => "badlink" %> </li>
  <li><%= link_to "M. Bison", '#', :class => "badlink" %> </li>
  <li><%= link_to "C. Commando", '#', :class => "badlink" %> </li>
  <li><%= link_to "Zero", '#', :class => "badlink" %> </li>
  <li><%= link_to "Gouken", '#', :class => "badlink" %> </li>
  <li><%= link_to "Elena", '#', :class => "badlink" %> </li>
  <li><%= link_to "Cammy", '#', :class => "badlink" %> </li>
  <li><%= link_to "SonSon", '#', :class => "badlink" %> </li>
  <li><%= link_to "Ingrid", '#', :class => "badlink" %> </li>
  <li><%= link_to "Kyosuke", '#', :class => "badlink" %> </li>
  </div>
  <div class="charnames3">
  <li><%= link_to "Decapre", '#', :class => "badlink" %> </li>
  <li><%= link_to "Juri", '#', :class => "badlink" %> </li>
  <li><%= link_to "Maki", '#', :class => "badlink" %> </li>
  <li><%= link_to "Dhalsim", '#', :class => "badlink" %> </li>
  <li><%= link_to "Evil Ryu", evilryu_path, :class => "mainlink" %> </li>
  <li><%= link_to "Violent Ken", vken_path, :class => "mainlink" %> </li>
  <li><%= link_to "Shin Akuma", '#', :class => "badlink" %> </li>
  <li><%= link_to "Kim", kim_path, :class => "mainlink" %> </li>
  <li><%= link_to "Kyo", kyo_path, :class => "mainlink" %> </li>
  <li><%= link_to "Ryo", '#', :class => "badlink" %> </li>
  <li><%= link_to "Terry", '#', :class => "badlink" %> </li>
  <li><%= link_to "Jin", '#', :class => "badlink" %> </li>
  <li><%= link_to "Kazuya", '#', :class => "badlink" %> </li>
  <li><%= link_to "Haohmaru", '#', :class => "badlink" %> </li>
  <li><%= link_to "Hibiki", '#', :class => "badlink" %> </li>
  <li><%= link_to "Klonoa", '#', :class => "badlink" %> </li>
  </div>
  <div class="charnames4">
  <li><%= link_to "Joe", '#', :class => "badlink" %> </li>
  <li><%= link_to "Lucario", '#', :class => "badlink" %> </li>
  <li><%= link_to "Blaziken", '#', :class => "badlink" %> </li>
  <li><%= link_to "Mario", '#', :class => "badlink" %> </li>
  <li><%= link_to "Yoshi", '#', :class => "badlink" %> </li>
  <li><%= link_to "Gengar", '#', :class => "badlink" %> </li>
  <li><%= link_to "Sonic", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rock Howard", '#', :class => "badlink" %> </li>
  <li><%= link_to "Geese Howard", '#', :class => "badlink" %> </li>
  <li><%= link_to "Ryuji", '#', :class => "badlink" %> </li>
  <li><%= link_to "Yuri", '#', :class => "badlink" %> </li>
  <li><%= link_to "Link", '#', :class => "badlink" %> </li>
  <li><%= link_to "Snake", '#', :class => "badlink" %> </li>
  <li><%= link_to "Athena", '#', :class => "badlink" %> </li>
  <li><%= link_to "Nakoruru", '#', :class => "badlink" %> </li>
  <li><%= link_to "Squall", '#', :class => "badlink" %> </li>
  </div>
  <div class="charnames5">
  <li><%= link_to "Applejack", '#', :class => "badlink" %> </li>
  <li><%= link_to "Twilight Sparkle", '#', :class => "badlink" %> </li>
  <li><%= link_to "Pinkie Pie", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rarity", '#', :class => "badlink" %> </li>
  <li><%= link_to "Kula", '#', :class => "badlink" %> </li>
  <li><%= link_to "Iori", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rainbow Dash", '#', :class => "badlink" %> </li>
  <li><%= link_to "Fluttershy", '#', :class => "badlink" %> </li>
  <li><%= link_to "King", '#', :class => "badlink" %> </li>
  <li><%= link_to "Gardevoir", '#', :class => "badlink" %> </li>
  <li><%= link_to "Rugal", '#', :class => "badlink" %> </li>
  <li><%= link_to "O. Iori", '#', :class => "badlink" %> </li>
  <li><%= link_to "Zargojack", '#', :class => "badlink" %> </li>
  <li><%= link_to "God Rugal", '#', :class => "badlink" %> </li>
  </div>

<table>
<tr>
  <th></th>
  <th><%= image_tag("megaman.png", alt: "Megaman") %></th>
  <th><%= image_tag("zero.png", alt: "Zero") %></th>
  <th><%= image_tag("talbain.png", alt: "Talbain") %></th>
  <th><%= image_tag("rarity.png", alt: "Rarity") %></th>
  <th><%= image_tag("pinkie.png", alt: "Pinkie") %></th>
  <th><%= image_tag("fluttershy.png", alt: "Fluttershy") %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= image_tag("jill.png", alt: "Jill") %></th>
  <th><%= image_tag("commando.png", alt: "Commando") %></th>
  <th><%= image_tag("sonson.png", alt: "Sonson") %></th>
  <th><%= image_tag("twilight.png", alt: "Twilight") %></th>
  <th><%= image_tag("applejack.png", alt: "Applejack") %></th>
  <th><%= image_tag("rainbow.png", alt: "Rainbow") %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= image_tag("haggar.png", alt: "Haggar") %></th>
  <th><%= image_tag("maki.png", alt: "Maki") %></th>
  <th><%= image_tag("guy.png", alt: "Guy") %></th>
  <th><%= image_tag("blaziken.png", alt: "Blaziken") %></th>
  <th><%= image_tag("gardevoir.png", alt: "Gardevoir") %></th>
  <th><%= image_tag("gengar.png", alt: "Gengar") %></th>
  <th></th>
</tr>
<tr>
  <th></th>
  <th><%= image_tag("ingrid.png", alt: "Ingrid") %></th>
  <th><%= image_tag("sakura.png", alt: "Sakura") %></th>
  <th><%= image_tag("rolento.png", alt: "Rolento") %></th>
  <th><%= image_tag("mario.png", alt: "Mario") %></th>
  <th><%= image_tag("link.png", alt: "Link") %></th>
  <th><%= image_tag("lucario.png", alt: "Lucario") %></th>
  <th></th>
</tr>
<tr>
  <th><%= link_to image_tag("eryu.png", alt: "Evil Ryu"), evilryu_path %></th>
  <th><%= image_tag("karin.png", alt: "Karin") %></th>
  <th><%= image_tag("dan.png", alt: "Dan") %></th>
  <th><%= image_tag("rose.png", alt: "Rose") %></th>
  <th><%= image_tag("klonoa.png", alt: "Klonoa") %></th>
  <th><%= image_tag("sonic.png", alt: "Sonic") %></th>
  <th><%= image_tag("yoshi.png", alt: "Yoshi") %></th>
  <th><%= image_tag("zargojack.png", alt: "Zargojack") %></th>
</tr>
<tr>
  <th><%= link_to image_tag("vken.png", alt: "Violent Ken"), vken_path %></th>
  <th><%= image_tag("chun.png", alt: "Chun-li") %></th>
  <th><%= link_to image_tag("ken.png", alt: "Ken"), ken_path %></th>
  <th><%= link_to image_tag("ryu.png", alt: "Ryu"), ryu_path %></th>
  <th><%= link_to image_tag("kyo.png", alt: "Kyo"), kyo_path %></th>
  <th><%= link_to image_tag("kim.png", alt: "Kim"), kim_path %></th>
  <th><%= image_tag("terry.png", alt: "Terry") %></th>
  <th><%= image_tag("grugal.png", alt: "God Rugal") %></th>
</tr>
<tr>
  <th><%= image_tag("decapre.png", alt: "Decapre") %></th>
  <th><%= image_tag("cammy.png", alt: "Cammy") %></th>
  <th><%= image_tag("sagat.png", alt: "Sagat") %></th>
  <th><%= image_tag("guile.png", alt: "Guile") %></th>
  <th><%= image_tag("joe.png", alt: "Joe") %></th>
  <th><%= image_tag("athena.png", alt: "Athena") %></th>
  <th><%= image_tag("ryo.png", alt: "Ryo") %></th>
  <th><%= image_tag("oiori.png", alt: "Orochi Iori") %></th>
</tr>
<tr>
  <th><%= image_tag("kyosuke.png", alt: "Kyosuke") %></th>
  <th><%= image_tag("juri.png", alt: "Juri") %></th>
  <th><%= image_tag("hawk.png", alt: "T. Hawk") %></th>
  <th><%= image_tag("zangief.png", alt: "Zangief") %></th>
  <th><%= image_tag("ryuji.png", alt: "Ryuji") %></th>
  <th><%= image_tag("rock.png", alt: "Rock") %></th>
  <th><%= image_tag("geese.png", alt: "Geese") %></th>
  <th><%= image_tag("rugal.png", alt: "Rugal") %></th>
</tr>
<tr>
  <th><%= image_tag("sakuma.png", alt: "Shin Akuma") %></th>
  <th><%= image_tag("gouken.png", alt: "Gouken") %></th>
  <th><%= image_tag("akuma.png", alt: "Akuma") %></th>
  <th><%= image_tag("bison.png", alt: "Bison") %></th>
  <th><%= image_tag("squall.png", alt: "Squall") %></th>
  <th><%= image_tag("snake.png", alt: "Snake") %></th>
  <th><%= image_tag("yuri.png", alt: "Yuri") %></th>
  <th><%= image_tag("iori.png", alt: "Iori") %></th>
</tr>
<tr>
  <th><%= image_tag("dhalsim.png", alt: "Dhalsim") %></th>
  <th><%= image_tag("dudley.png", alt: "Dudley") %></th>
  <th><%= image_tag("yun.png", alt: "Yun") %></th>
  <th><%= image_tag("yang.png", alt: "Yang") %></th>
  <th><%= image_tag("jin.png", alt: "Jin") %></th>
  <th><%= image_tag("kazuya.png", alt: "Kazuya") %></th>
  <th><%= image_tag("kula.png", alt: "Kula") %></th>
  <th><%= image_tag("king.png", alt: "King") %></th>
</tr>
<tr>
  <th></th>
  <th><%= image_tag("elena.png", alt: "Elena") %></th>
  <th><%= image_tag("ibuki.png", alt: "Ibuki") %></th>
  <th><%= image_tag("makoto.png", alt: "Makoto") %></th>
  <th><%= image_tag("haohmaru.png", alt: "Haohmaru") %></th>
  <th><%= image_tag("nakoruru.png", alt: "Nakoruru") %></th>
  <th><%= image_tag("hibiki.png", alt: "Hibiki") %></th>
  <th></th>
</tr>
</table>
</div>