<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if request.original_fullpath == "/" %>
  <nav id="MainNav">
  <a href="/#Char" class="navlink">Characters</a>
  <a href="terms" class="navlink">Terminology</a>
  <a href="basics" class="navlink">The Basics</a>
  <a href="universal" class="navlink">Universal Abilities</a>
  <a href="mechanics" class="navlink">Selectable Mechanics</a>
  <a href="elements" class="navlink">Game Elements</a>
  <a href="changes" class="navlink">Version History</a>
  <a href="https://www.mediafire.com/folder/qz7dv0qnxah99/VGFC" class="navlink">Download</a>
  </nav>
<% end %>

<body>
<% if request.original_fullpath != "/" %>
  <header>
  <%= link_to image_tag("newlogo.png"), root_path, :class => "Logo" %>
  <nav id="OtherNav">
  <a href="/#Char" class="navlink">Characters</a>
  <a href="terms" class="navlink">Terminology</a>
  <a href="basics" class="navlink">The Basics</a>
  <a href="universal" class="navlink">Universal Abilities</a>
  <a href="mechanics" class="navlink">Selectable Mechanics</a>
  <a href="elements" class="navlink">Game Elements</a>
  <a href="changes" class="navlink">Version History</a>
  <a href="https://www.mediafire.com/folder/qz7dv0qnxah99/VGFC" class="navlink">Download</a>
  </nav>
  </header>
<% end %>
<%= yield %>

</body>
</html>
