<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if request.original_fullpath == "/" %>
  <nav id="HomeNav">
  <a href="/#Char" class="navlink">Characters</a> | 
  <a href="#" class="navlink">Terminology</a> | 
  <a href="#" class="navlink">The Basics</a> | 
  <a href="#" class="navlink">Universal Abilities</a> | 
  <a href="selectable_mechanics" class="navlink">Selectable Mechanics</a> | 
  <a href="#" class="navlink">Game Elements</a> | 
  <a href="#" class="navlink">Version History</a>
  </nav>
<% end %>

<body>
<% if request.original_fullpath != "/" %>
  <%= link_to image_tag("logo.png"), root_path %>
  <nav id="OtherNav">
  <a href="/#Char" class="navlink">Characters</a> | 
  <a href="#" class="navlink">Terminology</a> | 
  <a href="#" class="navlink">The Basics</a> | 
  <a href="#" class="navlink">Universal Abilities</a> | 
  <a href="#" class="navlink">Selectable Mechanics</a> | 
  <a href="#" class="navlink">Game Elements</a> | 
  <a href="#" class="navlink">Version History</a>
  </nav>
<% end %>
<br>
<br>
<%= yield %>

</body>
</html>
